body {
    background-image: url(gif.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.container {
    background-color: rgba(185, 66, 33, 0.35);
    border-radius: 15px;
    width: 40%;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 180px;
    border-radius: 100%;
    border: 3px solid #280c0c;
}

.lista-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.btn {
    background-color: rgba(77, 19, 19, 0.65);
    color: white;
    padding: 15px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    width: 400px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.btn:hover {
    background-color: #f80101;
    transform: scale(1.02);
}

.destaque{
    background-color: #330000;
}

.destaque:hover{
    background-color: #323232;
    transform: scale(1.02);
}

.area-contato {
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 40px;
}

.btn-msg {
    display: inline-block;
    background-color: #e98445;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    width: 200px;
    height: 30px;
}

.btn-msg:hover {
    background-color: #ff3f2e;
    transform: scale(1.1);
}
.campo-texto {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

form button {
    width: 95%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00ff88;
    color: #003311;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

form button:hover {
    opacity: 0.8;
}

.btn-voltar {
    display: inline-block;
    margin-top: 25px;
    padding: 8px 20px;
    border: 1px solid rgba(255,255,255, 0.5);
    color: rgba(255,255,255, 0.8);
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.erro {
    color: #ff4444;
    background: #330000;
    padding: 10px;
    border-radius: 5px;
}

.sucesso {
    color: #00ff88;
    background: #003311;
    padding: 10px;
    border-radius: 5px;
}